<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <configSections>
      <section name="fileSystemWatcher" type="CustomFileSystemWatcher.Config"/>
    </configSections>

    <fileSystemWatcher>
      <folders>
        <folder path="C:\test1"></folder>
        <folder path="C:\test2"></folder>
        <folder path="C:\test3"></folder>
      </folders>
      
      <rules>
        <add path="E:\test_png" filter="^.*\.png$" includeIndex="true" includeDate="false"/>
        <add path="E:\test_txt" filter="^.*\.txt$"/>
      </rules>
    </fileSystemWatcher>
</configuration>